<title>Adam Waxman | Home</title>


<div class="homepage_background">
	<div class="homepage_title_div">
		<% h1 = "<p>" %>
		<% h2 = "</p>" %>
		<div class="homepage_title">Hi, I'm Adam.</div>
		<div class="homepage_subtitle">I quit my i-banking job and began coding <span id="days"></span> days ago.<br>
			I will be a student @ the <a href="http://flatironschool.com">Flatiron School</a> starting June 3rd.</div>
	</div>
	<div class="terminal_top_border">
		<span class="terminal_top_border_text">ajwaxman - bash</span>
	</div>
	<div class="terminal_ajw">	
		<p class="terminal_font">
			Last login: <span id="today"></span><br>
			Adam-Waxmans-MacBook:~ $ Welcome! See instructions below to get to know me<br>
			Adam-Waxmans-MacBook:~ $ Type 'help' for available commands and 'clear' to start over<br>
		</p>
	</div>
	<div id="jq_terminal"></div>
	<div class="check_out_div">
		<div class="check_out_title">
			MY THOUGHTS, PROFILES, AND PROJECTS:
		</div>
		<div class="connect_div">
			<%= link_to(url_with_protocol('www.awaxman.me')) do %>
				<div class="connect_links connect_blog">
					<%= image_tag("connect_blog.png", atl: "Blog", size:"125x125") %>
				</div>
			<% end %>
			<%= link_to(url_with_protocol('https:twitter.com/ajwaxman')) do %>
				<div class="connect_links connect_twitter">
					<%= image_tag("connect_twitter.png", atl: "Twitter", size:"125x125") %>
				</div>
			<% end %>
			<%= link_to(url_with_protocol('https:linkedin.com/in/adamjwaxman')) do %>
				<div class="connect_links connect_linked_in">
					<%= image_tag("connect_linked_in.png", atl: "LinkedIn", size:"125x125") %>
				</div>
			<% end %>
			<%= link_to(url_with_protocol('https://github.com/awaxman11')) do %>
				<div class="connect_links connect_github">
					<%= image_tag("connect_github.png", atl: "GitHub", size:"125x125") %>
				</div>
			<% end %>
			<%= link_to(url_with_protocol('https://instagram.com/awaxman11')) do %>
				<div class="connect_links connect_instagram">
					<%= image_tag("connect_instagram.png", atl: "Instagram", size:"125x125") %>
				</div>
			<% end %>
			<%= link_to(url_with_protocol('http://flockwithme.com')) do %>
				<div class="connect_links connect_flock">
				</div>
			<% end %>	
			<%= link_to(url_with_protocol('http://rulethejungle.com')) do %>
				<div class="connect_links connect_rtj">
					
				</div>
			<% end %>	
			<a href="mailto:awaxman11@gmail.com?subject=Hello">
				<span class="connect_links connect_email">
					<%= image_tag("connect_email.png", atl: "GitHub", size:"125x125") %>
				</span>
			</a>		
		</div>


		<div class="shout_out">Special shoutout to <a href="http://jcubic.pl/">jcubic</a> for the awesome terminal <a href="http://terminal.jcubic.pl/">plugin</a></div>
	</div>
</div>

<a href=""></a>

<script>
var myVar=setInterval(function(){myTimer()},1000);

function myTimer(){
	var d1=new Date();
	var d2=new Date('1/15/13');
	var t=d1.toLocaleTimeString();
	var dif = d2.getTime()
	
	// Number of milliseconds since 1/15/2013 divided by sec / min / 
	var days = ((d1.getTime() - d2.getTime())/60/60/24/1000).toFixed(5)
	var seconds = numberWithCommas(((d1.getTime() - d2.getTime())/1000).toFixed(0))
	document.getElementById("days").innerHTML=days;
	//document.getElementById("seconds").innerHTML=seconds;
	document.getElementById("today").innerHTML=d1;
	console.log(dif)

	function numberWithCommas(x) {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
	}
}

$('#jq_terminal').terminal(function(command, term) {
    if (command.toLowerCase() == 'help') {
        term.echo("Available commands: 'education','work_history','favorite_band'");
    } 

    else if (command.toLowerCase() == 'education' || command.toLowerCase() == '\'education\'') {
    	term.echo("I went to Emory University in Atlanta, GA.  I studied Economics, Mathematics,\nand Philosophy and was a center defender on the varsity soccer team.");
    } 

    else if (command.toLowerCase() == 'work_history' ||  command.toLowerCase() == "work history" || command.toLowerCase() == '\'work_history\'' || command.toLowerCase() == '\'work history\'') {
    	term.echo("Right out of school I worked for SunTrust Robinson Humphrey as an i-banking analyst.\nI helped Financial Services \&amp; Technology companies raise capital and execute M\&amp;A opps.");
    } 

    else if (command == 'favorite_band') {
    	term.echo("Michael Franti & Spearhead");
    } 
    
    else {
        term.echo('unknown command');
    }
}, { prompt: 'Adam-Waxmans-MacBook:~ $ ', name: 'test' });




</script>
